@model BlogMVCBoost.ViewModels.ArticleVM

@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Write Article</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Write" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ArticleName" class="control-label"></label>
                <input asp-for="ArticleName" class="form-control" />
                <span asp-validation-for="ArticleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArticleContent" class="control-label"></label>
                <textarea asp-for="ArticleContent" class="form-control" cols="30" rows="5"></textarea>
                <span asp-validation-for="ArticleContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArticleBody" class="control-label"></label>
                <textarea asp-for="ArticleBody" class="form-control" cols="30" rows="5"></textarea>
                <span asp-validation-for="ArticleBody" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArticleImage" class="control-label"></label>
                <input type="file" asp-for="ArticleImage" class="form-control" />
                <span asp-validation-for="ArticleImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}